<head>
  <title>Representación del tiempo en el espacio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
  
</body>

<template name="loading">
  <p>Loading...</p>
</template>

<template name="experiments">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" align="center">
      <h3>Experimento sobre la representación espacial del tiempo</h3>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div id="main-content" class="col-md-10 col-sm-12 col-xs-12">
        {{> active_stage}}
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</template>

<template name="introduction">
  <h1>Bienvenido</h1>
  <p class="lead">Este es un experimento sobre la representación del tiempo en el espacio, de aproximadamente 10 minutos de duración, y puede realizarse una sola vez por participante. No hay respuestas correctas o incorrectas.</p>
  {{> agreement}}
  <hr/>
  <button type="button" id="start" class="btn btn-primary btn-lg">Continuar</button>
</template>

<template name="thanks">
  <h1>Gracias por participar</h1>
  <p>El experimento ha finalizado.</p>
  <a href="http://tedx.cloudapp.net/" class="btn btn-primary btn-lg active" role="button">Volver a TEDxperiments</a>
</template>

<template name="already_completed">
  <h1>Gracias por participar</h1>
  <p>La dirección de e-mail que ingresaste ya se encuentra en nuestra lista de participantes, te pedimos que no participes más de una vez.</p>
</template>

<template name="results">
  <h1>Resultados</h1>
  <pre>
    {{as_json}}
  </pre>
</template>