<head>
  <title>Representación del tiempo en el espacio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  
</body>

<template name="experiments">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        {{> active_stage}}
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</template>

<template name="loading">
  <p>Loading...</p>
</template>

<template name="introduction">
  <h1>Representación del tiempo en el espacio</h1>
  <p class="lead">Este es un experimentos sobre la representación del tiempo en el espacio, de aproximadamente 10 minutos de duración, y puede realizarse una sola vez por participante. No hay respuestas correctas o incorrectas.</p>
  {{> agreement}}
  <hr/>
  <button type="button" id="start" class="btn btn-primary btn-lg">Continuar</button>
</template>

<template name="thanks">
  <h1>Gracias por participar!</h1>
</template>

<template name="results">
  <h1>Resultados</h1>
  <pre>
    {{as_json}}
  </pre>
</template>

<template name="already_completed">
  <h1>Gracias por participar</h1>
  <p>La dirección de e-mail que ha ingresado ya se encuentra en nuestra lista de participantes, le pedimos que no participe más de una vez.</p>
</template>