<template name="questions_begining">
  <p>Por favor ingrese los siguientes datos (no es necesario el nombre completo).</p>
  <form id="myform">
    <p>
      Nombre
      <input type="text" name="name"/>
    </p>
    <p>
      Edad
      <input type="number" name="age" min="1" max="100">
    </p>
    <p>Sexo
      <select name="sex">
        <option value="male">Masculino</option>
        <option value="female">Femenino</option>
      </select>
    </p>
    <p>Actividades actuales</p>
    <p>
      Estudia
      <select name="studying">
        <option value="yes">Sí</option>
        <option value="no">No</option>
      </select>
    </p>
    <p>
      Trabaja
      <select name="working">
        <option value="yes">Sí</option>
        <option value="no">No</option>
      </select>
    </p>
    <input type="submit" id="submit"/><br/>
  </form>
</template>

<template name="questions_ending">
  <form id="myform">
    <p>Si tuviera que definirse como un tipo de persona "matutina" o "nocturna", cómo se definiría?</p>
    <p>
      <select name="daynight">
        <option value="5">Definitivamente matutina</option>
        <option value="4">Moderadamente matutina</option>
        <option value="3">Neutral</option>
        <option value="2">Moderadamente nocturna</option>
        <option value="1">Definitivamente nocturna</option>
      </select>
    </p>
    <p>
      Comentarios<br/>
      <textarea name="comments" style="width: 400px; height: 200px"></textarea>
    </p>
    <br/>
    <input type="submit" id="submit"/><br/>
  </form>
</template>

<template name="questions_how_forced">
  <h1>Qué tan forzada te pareció la elección de?</h1>
  <div id="container"></div>
</template>