<template name="questions_begining">
  <h1>Preguntas iniciales</h1>
  <p>Antes de comenzar el experimento le pedimos por favor que complete los siguientes datos.
  No es necesario el nombre completo.</p>
  
  <form id="myform" role="form">  
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Escriba su nombre">
    </div>
    
    <div class="form-group">
      <label for="email">Email (opcional)</label>
      <input type="email" class="form-control" id="email" placeholder="Escriba su mail">
      <p class="bg-info">No vamos a utilizar esta dirección para mandarte ningún correo electrónico. El experimento es completamente anónimo, pedimos el email únicamente para saber quiénes ya lo realizaron.</p>
    </div>

    <div class="form-group">
      <label for="age">Edad</label>
      <input type="number" min="18" max="100" class="form-control" id="age" placeholder="Ingrese su edad">
    </div>

    <div class="form-group">
      <label for="sex">Sexo</label>
      <select id="sex" class="form-control">
        <option disabled selected> -- elija una opción -- </option>
        <option value="male">Masculino</option>
        <option value="female">Femenino</option>
      </select>
    </div>

    <p><b>Actividades actuales</b></p>

    <div class="form-group">
      <label for="studying">Estudia</label>
      <select id="studying" class="form-control">
        <option disabled selected> -- elija una opción -- </option>
        <option value="yes">Sí</option>
        <option value="no">No</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="working">Trabaja</label>
      <select id="working" class="form-control">
        <option disabled selected> -- elija una opción -- </option>
        <option value="yes">Sí</option>
        <option value="no">No</option>
      </select>
    </div>

    <button type="submit" id="submit" class="btn btn-primary">Continuar</button>
  </form>
</template>

<template name="questions_ending">
  <h1>Preguntas finales</h1>
  <p>Muchas gracias por participar en el experimento. Antes de que te vayas, te pedimos que respondas las siguientes preguntas.</p>

  <form id="myform">
    <div class="form-group">
      <label for="daynight">Me definiría como una persona...</label>
      <select id="daynight" class="form-control">
        <option disabled selected> -- elija una opción -- </option>
        <option value="5">Definitivamente matutina</option>
        <option value="4">Moderadamente matutina</option>
        <option value="3">Neutral</option>
        <option value="2">Moderadamente nocturna</option>
        <option value="1">Definitivamente nocturna</option>
      </select>
    </div>

    <div class="form-group">
      <label for="comments">Comentarios</label>
      <textarea id="comments" class="form-control" rows="15"></textarea>
    </div>

    <button type="submit" id="submit" class="btn btn-primary">Finalizar</button>
  </form>
</template>

<template name="questions_how_forced">
  <h1>¡MUCHAS GRACIAS!</h1>
  <p>En las tareas que acabas de completar elegiste <b>COLORES</b>, <b>TAMAÑOS</b> y <b>POSICIONES</b> para distintos eventos temporales.</p>
  <p>¿Qué tan forzada te pareció la elección de cada una de las características?</p>
  <div id="container"></div>
</template>