<template name="questions_begining">
  <p>Por favor ingrese los siguientes datos (no es necesario el nombre completo).</p>
  <form id="myform">
    <p>
      Nombre
      <input type="text" name="name"/>
    </p>
    <p>
      Edad
      <input type="number" name="age" min="1" max="100">
    </p>
    <p>Sexo
      <input type="radio" name="sex" value="male">Masculino
      <input type="radio" name="sex" value="female">Femenino
    </p>
    <p>Actividades actuales</p>
    <p>
      Estudia
      <input type="radio" name="studying" value="yes">Sí
      <input type="radio" name="studying" value="no">No
    </p>
    <p>
      Trabaja
      <input type="radio" name="working" value="yes">Sí
      <input type="radio" name="working" value="no">No
    </p>
    <input type="submit" id="submit"/><br/>
  </form>
</template>

<template name="questions_ending">
  <form id="myform">
    <p>Si tuviera que definirse como un tipo de persona "matutina" o "nocturna", cómo se definiría?</p>
    <p>
      <input type="radio" name="daynight" value="5">Definitivamente matutina<br/>
      <input type="radio" name="daynight" value="4">Moderadamente matutina<br/>
      <input type="radio" name="daynight" value="3">Neutral<br/>
      <input type="radio" name="daynight" value="2">Moderadamente nocturna<br/>
      <input type="radio" name="daynight" value="1">Definitivamente nocturna<br/>
    </p>
    <p>
      Comentarios<br/>
      <textarea name="comments"></textarea>
    </p>
    <br/>
    <input type="submit" id="submit"/><br/>
  </form>
</template>

<template name="questions_how_forced">
  <h1>Qué tan forzada te pareció la elección de?</h1>
  <div id="container"></div>
</template>